<!-- cart -->
<div class="Cart-page">
    <section id="page-header-cart" class="about-header">

        <h2>#cart</h2>

    </section>


    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Id</td>
                </tr>
            </thead>

            <tbody>
                <% if(cartItems.length> 0) { %> <%cartItems.forEach(function(cartitem){ %>

                        <td><img src="/img/<%= cartitem.image %>" alt=""></td>
                        <td>
                            <%= cartitem.name %>
                        </td>
                        <td>$<%= cartitem.price %>
                        </td>
                        <td>
                            <%= cartitem.id %>
                        </td>
                        </tr>
                        <% }) }%>
            </tbody>
        </table>
    </section>

    <hr>


    <section id="cart-add" class="section-p1">


        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>

                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>

                            $ <%= totalPrice%>


                        </strong></td>
                </tr>

            </table>

            <div class="Clean_Checkout">
            <form id="cartForm" action="/checkout" method="POST">
                <button>Proceed to checkout</button>
            </form>

            <form action="/CleanCart" method="post">
                <button type="submit"> Clean Cart</button>
            </form>

        </div>

        </div>


    </section>


</div>