



<section id="page-header">

  <h2>#WELCOME TO THE BEST SHOP IN THE CITY</h2>

</section>

<hr>


<section id="product1" class="section-p1">

  <div class="pro-container">

    <% if(typeof products !=='undefined' && products.length> 0) { %> <% products.forEach(function(product){ %>


        <div class="pro">

          <img class="img_products " src="\img\<%= product.image %>">

          <div class="des">
  
            <h5>
              <%= product.name %>
            </h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>
              $<%= product.price %>
            </h4>
            <div>
              <form class="add_to_cart" action="/add-to-cart" method="POST">
                <input type="hidden" name="productId" value="<%=product._id%>" />
                <button type="submit" class="btn btn-transparent">Add to cart <i
                    class="icon fas fa-cart-plus"></i></button>
              </form>
            </div>
          </div>


          <% if(isAdmin) { %>

            <form action="/delete-product" method="post">
              <input type="hidden" name="productId" value="<%= product._id%>">
              <button type="submit" class="btn btn-primary">מחק מוצר</button>
            </form>

            <%}%>
        </div>
        <% }) %>
          <%}%>
  </div>


</section>